*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background: url(background.webp);
    background-size: cover;
    background-position: center;
}
.content{
    display: inline-block;
}
.list{
    display: inline-block;
    color: white;
    position: relative;
    left: 850px;
    top: -20px;
    margin-left: 20px;
    align-items: center;

}
.head{
    color: white;
    align-items: center;
    margin-left: 20px;
    margin-top: 3vh;
}
.navbar{
    width: 100%;
    height: 12vh;
    background-color: rgba(0, 0,0, 0.7);
}
.material{
    text-align: center;
    align-items: center;
    position: relative;
    top: 160px;
}
.a{
    color: white;
    text-shadow: 2px 4px 5px black;
    font-size: 50px;
}
.b{
    color: white;
    text-shadow: 2px 4px 5px black;
    font-size: 50px;
}
.c{
    color: white;
    text-shadow: 2px 4px 5px black;
    font-size: 25px;

}
.button{
    text-align: center;
    align-items: center;
    position: relative;
    top: 200px;
    justify-content: space-between;

}
.btn{
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid white;
}
.btn:hover{
    color: white;
    background: blue;
    border: 1px solid blue;
    text-shadow: 2px 4px 5px black;

}
.btn2{
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid white;
}
.btn2:hover{
    color: white;
    background: aquamarine;
    border: 1px solid aquamarine;
    text-shadow: 2px 4px 5px black;

}